<p id="notice"><%= notice %></p>

<h1>Книги</h1>
<div class="row">
  <div class="">

    <div class="row">
      <% @books.each do |book| %>

          <div class="col-sm-4 product-item">
            <div class="panel panel-default">
              <div class="panel-body" align="center">
                <%= book.title %>
                <div class="img"><%= link_to image_tag(book.image.large), book_path(book) %></div>
                <%= book.user.name %>

              </div>
            </div>
          </div>

      <% end %>
    </div>
  </div>
</div>
